#home-container .MuiSlider-markLabel {
  border-left: 2px dashed #1ca5f4;
  height: 41px;
  width: 40px;
  padding-left: 5px;
  margin-left: 20px;
  margin-top: -50px;
}

#home-container .MuiSlider-mark {
  display: none;
}

#home-container .MuiSlider-rail {
  color: #d9d9d9;
}

#home-container .mc-slider-g {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-container .mc-slider-g .MuiIconButton-sizeLarge {
  color: #1ca5f4;
  margin-bottom: 20px;
}

.mort-slider-title {
  margin-bottom: 40px;
}
